/* background color */
    body {
        background-color: rgb(240, 240, 242);
        margin-left: 160px;
        font-family: sans-serif;
    }

/* NAV BAR MODIFICATION */
    nav {
     list-style-type: none;
     left: 0px;
     background-color: rgb(100,100,100);
     float:left;
     position: fixed;
    }
    nav a {
        display: block;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        text-align: center;
    }

/* Change the link color on hover */
    li a:hover {
        background-color: lightyellow;
        color: black;
    }

/* TEXT & FONT MODIFICATION */
    p {
      width: 75%;
      font-weight: 200;
      font-size: 1.1em;
    }
    h1 {
      font-size: 2.7em;
    }
    h2 {
      font-size: 1.8em;
      font-variant: small-caps;
    }


/* HIT LIST MODIFICATION */
    #strip_district {
      background-color: white;
    }

    #pnc_park {
      background-color: lightyellow;
    }
    #website_welcome {
      background-color: rgb(239, 233, 220);
      text-align: right;
    }
    #website_welcome p {
      margin-left: 20%;
    }

/* IMAGE MODIFICATION  */
.image {
    width: 70%;
}
#welcomeImage {
  width:100%;
}
#strip_district_body .image {
  width:45%;
}

/* OTHER MODIFICATION */

    #welcome_line1 {
      padding-bottom: 20px;
      font-weight: bold;
      font-style: oblique;
    }
